
.main-section{
    background-color: #152238;
    height: 90vh;
    width: 100%;
    /* display: flex;
    direction: row; */
}

.cover{
    height: 66%;
    width: 60%;
    top: 0px;
    margin-left: 40%;
    
}
#cover{
    height: 100%;
    width: 100%;
}
.text{
/* left: 117px;
top: 1210px; */
font-family: 'Unna';
font-style: normal;
font-weight: 700;
font-size: 63px;
line-height: 101px;
letter-spacing: 0.1em;
color: white;
margin-top: -32vh;
margin-left: -62%;
}
/* footer{
    background-color: red;
    width: 100%;
    height: 20vh;
} */